.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 80px;
  background-image: url(../src/asset/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.App-title {
  margin: 10px;
  color: #3d3d3d;
  text-align: center;
}

.App-sub-title {
  display: flex;
  margin: 12px;
}

@media screen and (max-width: 1000px) {
  .App-title {
    font-size: 24px;
  }
  .App-sub-title {
    flex-direction: column;
    align-items: center;
  }
}
